Source: mod-contact
Priority: extra
Maintainer: Graham Leggett <minfrin@sharp.fm>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, apache2-dev
Standards-Version: 3.9.2
Section: libs

Package: mod-contact
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Apache mod_contact module provides a service that accepts a form POST and optional file uploads, and sends the contents of the form as an email.

